@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Roboto:wght@300;400;500;700&family=Urbanist:wght@900&display=swap');

body{
    font-family: 'Inter', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Urbanist', sans-serif !important;
    background-color: #080808 !important;
}



nav{
    margin-top: 51px;
   
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li:nth-child(2) {
    margin-left: 103px;
  }
nav ul li{
    display: inline;
    color: #fff;
}
nav ul .logo{
        color: #fff;
        font-weight: 900;
        font-size: 26px;     
}
nav ul li:nth-child(2) span {
    margin-left: 39px;
    font-family: 'Roboto';
    font-weight: 600;
  }
 nav .search {
    padding: 12px 20px 12px 60px;
    width: 281px;
    height: 48px;
    background: rgba(28, 31, 37, 0.6);
    border-radius: 16px;
    border: unset;
    color: #fff;
  }
  nav .input_sty {
    position: absolute;
    top: 10px;
    left: 17px;
  }
  nav .notify {
    align-self: center;
    margin-left: 23px;
  }

   nav .search_box  ::placeholder {
    color: #A0A0A0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
  }
  nav .profile span {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    margin-right: 24px;
    color: #dddd;
  }
  .background{
    height: 100%;
    width: 100%;
  }
  .background::after {
    position: fixed;
    width: 360.64px;
    height: 529.23px;
    background: linear-gradient(180deg, #FB03F5 0%, #AA9CFF 100%);
    filter: blur(157.473px);
    transform: rotate(-163.98deg);
    content: '';
    right: -100px;
    overflow: unset;
  }

  .background::before {
    position: fixed;
    width: 598.16px;
    height: 473.02px;
    left: 197px;
    top: 16px;
    content: '';
    background: linear-gradient(180deg, #FB03F5 0%, #AA9CFF 100%);
    filter: blur(157.473px);
    opacity: 0.5;
  }

  .sidebar ul {
    padding: 0;
    margin: 0;
  }
 
  .sidebar ul li {
    display: block;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 17px 26px;
    width: 233px;
    cursor: pointer;
  }
  .sidebar ul li:last-child {
    position: fixed;
    bottom: 35px;
  }
  .sidebar ul li span {
    padding-left: 24px;
  }
  .sidebar ul  .active{

  background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
border-radius: 16px;

  }
  .sidebar ul li:hover {

  background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
border-radius: 16px;

  }
  .dashboard{
    z-index: 5;
    position: relative;
  }

  .pro__section .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #353535;
    border-radius: 100px;
    width: 168px;
    height: 8px;
  }

  .pro__section .progress-bar {
    background: linear-gradient(268.5deg, #FB03F5 -11.69%, #AA9CFF 112.48%);
    border-radius: 100px;
  }
  .pro__section.one .progress-bar {
    background: linear-gradient(180deg, #5CFF9C 0%, #00FFA3 100%);
  }
  .pro__section.two .progress-bar {
    background: linear-gradient(268.5deg, #FB035C -11.69%, #FA9FA5 112.48%);
  }
  .pro__section.three .progress-bar {
    background: linear-gradient(268.5deg, #FB03F5 -11.69%, #AA9CFF 112.48%);
  }
  .pro__section.four .progress-bar {
    background: linear-gradient(180deg, #5CFF9C 0%, #00FFA3 100%);
  }
  .pro__section{
    margin-bottom: 24px;
  }
  .pro__section .c_icons span {
    margin-left: 12px;
  }
  .allow_unit::before {
    content: '';
    position: absolute;
    background: #1C1C1C8A;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    border-radius: 16px;
  }
  .allow_unit_inline_al {
    padding: 30px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
   
  }
  .allow_unit_inline_al h6 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .allow_unit_inline_al .pro_level {
    font-size: 14px;
  }
  .btn.btn-secondary {
    background: #2B2B2B;
    border: unset;
    width: 100%;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
  }
  .Join_comm{
    margin-top: 30px;
  }
  .Join_comm .allow_unit_inline_al h6{
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 30px;
  }

  .Join_comm .allow_unit_inline_al p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    padding: 0 20px;
    margin: 0;
  }
  .main_board {
    position: relative;
    padding: 29px 41px;
  }
  .main_board h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .main_board .heading h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #878787;
    margin-top: 12px;
  }
  .plan_lifa-stack span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
  }
  .plan_lifa-stack w-25{
    align-self: center;
  }
  .com__profile span {
    margin-left: 12px;
  }
  .plan_lifa-stack{
    margin-top: 22px;
  }
  .plan_lifa-stack .btn.btn-secondary {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 4px 13.5px;
    width: auto;
  }
  .plan_lifa-stack.two{
    margin-top: 21px;
  }
  .dashboard .col-md-3:first-child {
    width: 20%;
  }
  .dashboard .col-md-6{
    width: 55%;
  }

  .crypto_chart .apexcharts-title-text, .apexcharts-toolbar {
    display: none !important;
  }

  .crypto_chart {
    padding: 20px 25px;
  }
  .allow_unit.two {
    margin-top: 30px;
}
.char_icon {
  width: 60px;
  height: 60px;
  background: rgba(176, 176, 176, 0.1);
  border-radius: 13.7544px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.chart__text h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.char_icon img {
  width: 32px;
}
.chart__text h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.chart__text {
  margin-left: 9px;
}
.chart_pr_title.position-relative {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 45px;
  margin-bottom: 15px;
}
